{% extends 'layout.html' %}
{% block content %}

<div>Welcome to LTU tech careers browse the latest jobs below.</div>
<p></p>

    {% for obj in data %}
    
    <article class="media content-section"  style="background-color: rgba(255,255,255,0.95);">
        <div class="media-body"> 
            <div class="article-metadata">
                <a class="mr-2" href="{{obj['url']}}">{{ obj['url'] }}</a>
                <small class="text-muted">{{obj['title']}}</small>

            </div>
            <h4><a class="article-title" href="{{obj['url']}}">{{ obj['title']}}</a></h4>
            <p class="article-content">{{ obj['text'] }}</p>
            
        </div>
    </article>
    {% endfor %}
{% endblock content %}



